@media (max-width: 1280px) {
  .section-02__div {
    width: 33.33%;
  }
  .section-02__div_hoverOn {
    width: 33.33%;
  }
  .section-02__div_header{ 
    width: 100%;
  }
}

@media (max-width: 992px) {
  .section-01_video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 284px;
  }

  .section-01_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 50%;
    height: 384px;  
  }

  .section-02__div {
    width: 33.33%;
  }

  .section-02__div_hoverOn {
    width: 33.33%;
  }

  .section-02__div_header{ 
    width: 100%;
  }

  .sider-margins {
    margin-left: 20px;
  }

  .maquinaria_container {
    padding: 0px
  }

  .maquinaria_collage {
    grid-template-columns: repeat(4,110px);
    grid-gap: 2px;
  }

  .section-04_h1 {
    margin-left: 20px;
  }

  .nav_log_img {
    left: 10px;
  } 

  .section-05 {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .clientes_img {
    width: 90px;
  }

  .mySlides {
    overflow: hidden;
    width: 100%; 
  }

  .mySlides img {
    width: auto;
    height: 80vh;
  }

  .portada::after {
    content: '';
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: 1;
  }

  .portada {
    width: 100%;
    height: 80vh;
    justify-content: flex-start;
  }

  .titulo_h1 {
    font-size: 40px;
  }

  .maquinaria_second_2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .maquinaria_info {
    width: 80%;
    height: 100px;
  }

  .section-04_p {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .maquinaria_collage {
    grid-template-columns: repeat(4,150px);
    grid-gap: 2px;
  }

  .section-04_h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .maquinaria_container_second {
    justify-content: center;
    margin-bottom: 0;
  }

  .section-04 {
    padding: 20px 0px;
  }

  .section-01 {
    display: flex;
    padding:90px 0px;
    flex-direction: column;
  }

  .section-01_text {
    width: 100%;
  }

  .section-01_video {
    width: 100%
  }

  .section-01 {
    height: 100%;
  }

  .ondas_container {
    padding:0px
  }

  .portada{
    height: 100%;
  }

  .titular_01 {
    top:20%;
    left:12%;
  }

  .goTo {
    bottom: 40%;
  }

  .nav_log_img {
    height: 130px;
    width: 98px;
  }

  .nav_ul {
    display: none;
  }

  .nav_container_img {
    display: none;
  }

  .header {
    justify-content: space-between;
    height: 50px;
  }

  .nav_menu_option {
    display: flex;
    margin-right: 20px;
  }

  .nav_ul_respon {
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 50px 0 0 0;
    top: 0;
    right: 0;
    border-radius: 5px;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: rgba(16,16,16,.9);
    z-index: 9000;
    flex-direction: column;
  }

  .nav_ul_respon .nav_li {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
  }
  
  .nav_ul_respon .nav_container_img_res {
    height: 100%;
    margin-top: 0;
  }
  
  .nav_ul_respon .nav_container_img_res .nav_img_res {
    width: 25px;
    height: 21px;
  }

  .sider_div_info_h1 {
    font-size: 50px;
  }

  .section-03_p {
    font-size: 12px;
    width: 320px;
  }

  .onda_central {
    top: 20%;
  }
}

@media (max-width: 425px) { 
  .section-01 {
    padding: 20px 0px;
  }

  .section-05 {
    padding: 0px;
  }

  .portada {
    width: 100%;
    height: 80vh;
    justify-content: flex-start;
  }

  .portada::after {
    content: '';
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: 1;
  }

  .titulo_h1 {
    font-size: 50px;
  }

  .titulo_h1 {
    font-size: 45px;
  }

  .titulo_h3 {
    font-size: 13px;
  }

  .section-03{
    padding: 0px;
  }

  .maquinaria_collage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .maquinaria_second_2 {
    max-width: 100%;
    padding:0px;
    margin: 0px;
    height: 100%;
  }

  .section-04{
    height: 100%;
  }

  .section-04_h1 {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .img_maquinaria {
    width: auto;
    margin-bottom: 35px;
  }

  .maquinaria_container{
    height: 100%;
  }

  .maquinaria_info {
    width: 100%;
    height: 100%;
  }

  .img_container_01 {
    display: flex;
    flex-wrap: wrap;
  }

  .clientes_text {
    max-width: 100%;
  }

  .form_container {
    width: 100%;
  }

  .sider_wrap {
    display: flex;
    flex-direction: column;
  }

  .sider_div_info {
    width: 100%;
    height: auto;
  }

  .sider-margins {
    margin: 0;
    width: 100%;
    padding: 50px 20px 60px;
    box-sizing: border-box;
  }

  .sider_div_img_maritima, .sider_div_img_estiba, .sider_div_img_operaciones {
    width: 100%;
    height: 260px;
  }

  .puertos_container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .section-04 {
    padding: 50px 0 0;
  }

  .section-05 {
    height: 100%;
  }

  .puertos_options {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 25px;
    height: 100%;
    width: 100%;
  }

  .puertos_list {
    margin-top: 0;
    width: calc(50% - 10px);
    margin-bottom: 15px;
  }

  .puertos_map {
    height: 350px;
  }

  .onda_central {
    top: initial;
    bottom: calc(260px - 15px);
  }

  .section-02_div_container {
    flex-direction: column;
    margin-top: 0;
  }

  .section-02 {
    height: 100%;
    padding: 50px 0px;
  }

  .section-01_text_container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .section-02_container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .section-03_container {
    padding: 50px 0 0;
  }

  .section-03_h1 {
    margin-top: 0;
    width: 33.33%;
  }

  .slider_servicios_opciones {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .nav_log_img {
    width: 50px;
    height: auto;
    left: 20px;
  }

  .titular_01 {
    top:10%;
    left: 10%;
  }

  .section-02__div_body {
    width: 100%;
  }

  .section-02__div_hoverOn{
    width: 100%;
  }

  .section-04 {
    background-color: black;
    background-image: none;
  }

  .section-04_p {
    margin-top: 20px;
  }

  .slider_img_maquinaria {
    width: 100%;
  }

  .section-06 {
    padding: 50px 0;
  }

  .clientes_container {
    margin-top: 0;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .clientes_text p {
    font-family: 'Helvetica LT Std';
    font-weight: normal;
    opacity: 1;
    color: #5f5d5b;
    margin-bottom: 40px;
  }

  .goTo {
    top: 25%;
    height: 40px;
  }
  .arrowDown {
    margin-top: 10px;
  }

  .maquinaria_second_2 {
    justify-content: center;
    align-items: center;
  }

  .contactos_container {
    width: 100%;
  }

  .textarea_container {
    width: 100%;  
  }

  .section-07 {
    height: auto;
    padding: 50px 0px;
  }

  .section-08 {
    height: auto;
    padding: 80px 0 50px;
  }

  .footer_principal {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .footer_principal p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 100;
    margin-top: 20px;
    line-height: 1.5;
  }

  .footer_principal_img {
    width: 100px;
  }

  .nav_img {
    height: 18px;
  }

  .ondas_container {
    margin-top: -80px;
  }
}

@media (max-width: 425px) { 
  .section-07_h1 {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .section-04_p {
    justify-self: center;
    align-self: center;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .form_container {
    display: flex;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background-color: transparent;
    height: auto;
  }

  .input_class {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Helvetica LT Std';
    height: 45px;
    font-size: 20px;
  }

  .textarea_container {
    height: auto;
    background-color: transparent;
  }

  .textarea_class {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Helvetica LT Std';
    height: 100px;
    font-size: 20px;
  }

  .ondas_container {
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .button_enviar {
    position: static;
    margin: 0 auto;
    display: block;
    margin-bottom: 45px;
    font-size: 20px;
  }

  .textarea_container {
    display: flex;
    width: 100%;
    padding:0px
  }

  .arrowLo {
    width: 10px;
  }

  .section-05 {
    padding: 50px 0 0;
  }

  .section-01 {
    padding: 50px 0px;
    height: 100%;
  }

  .section-01_text {
    height: 100%;
    margin-top: 40px;
  }

  .section-01_h1 {
    font-size: 24px;
  }

  .sider_div_info_h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .sider_div_info_h1 {
    font-size: 24px;
  }

  .section-03_p {
    width: 100%;
    box-sizing: border-box;
    color: #5f5d5b;
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
    font-weight: normal;
  }

  .portada {
    width: 100%;
    height: 80vh;
    justify-content: flex-start;
  }

  .portada::after {
    content: '';
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: 1;
  }

  .mySlides {
    overflow: hidden;
    max-width: 100%;
  }

  .mySlides img {
    width: auto;
    height: 80vh;
  }

  .section-02__div_body {
    margin-bottom: 20px;
  }

  .titular_01 {
    top: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 44px;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
  }

  .titulo_h3 {
    font-size: 20px;
  }

  .titulo_h1 {
    font-size: 14px;
  }

  .goTo {
    top: initial;
    bottom: 10px;
  }

  .nav_menu_option_img {
    width: 24px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .titulo_h1 {
    font-size: 25px;
  }

  .titulo_h3 {
    font-size: 30px;
  }
}

